@model IEnumerable<Genre>

@{
    ViewData["Title"] = "Genres List";
}

<h1>Genres List</h1>

<p>
    <a class="btn btn-primary" asp-controller="Genre" asp-action="Create">Add New Genre</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var genre in Model)
        {
            <tr>
                <td>@genre.Id</td>
                <td>@genre.Name</td>
                <td>
                    <a class="btn btn-info" asp-controller="Genre" asp-action="Edit" asp-route-id="@genre.Id">Edit</a>
                    <a class="btn btn-danger" asp-controller="Genre" asp-action="Delete" asp-route-id="@genre.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>