@model TP2.Models.Movie

@{
    ViewData["Title"] = "Edit Movie";
}

<h2>Edit Movie</h2>

<form asp-action="edit">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="Id" />
    </br>
    <button type="submit" class="btn btn-primary">Save</button>
</form>

</br>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}